#sketch {
	border: 10px solid gray;
	height: 450px;
	position: relative;
	background-color: #ffffff;
    
	
	
}

#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
	
	
}

#logo {
	position: relative;
	left: 14%;
	
	}


#brush_size {
	
	background-color: #ffffff;

}